<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>List of all Qualifications</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let s of qualificationService.qualifications$ | async">
    <tr>
      <td>{{s.designation}}</td>
      <td><button type="button" class="material-icons"(click)="filter(s)">filter</button></td>
      <td><button type="button" class="material-icons"(click)="delete(s.designation)">delete</button></td>
    </tr>
  </ng-container>
  </tbody>
</table>

