<table class="table table-striped table-hover">
<thead>
<tr>
  <th>ID</th>
  <th>Last Name</th>
  <th>First Name</th>
  <th>Street</th>
  <th>Postcode</th>
  <th>City</th>
  <th>Phone</th>
</tr>
</thead>
<ng-container *ngFor="let s of employeeService.employees$ |async">
<tbody *ngIf="(!filterId||s.id==filterId)&&(!filterQualification||containsQualification(s.qualifications,filterQualification))">
  <tr>
  <td>{{s.id}}</td>
  <td>{{s.lastName}}</td>
  <td>{{s.firstName}}</td>
  <td>{{s.street}}</td>
  <td>{{s.postcode}}</td>
  <td>{{s.city}}</td>
  <td>{{s.phone}}</td>

  <td><button type="button" class="material-icons" (click)="editEmployee(s)">edit</button></td>
  <td><button type="button" class="material-icons" (click)="deleteEmployee(s)">delete</button></td>
  </tr>
<tr>
  <td colspan = 7>
<div class="qualification-container" *ngFor="let q of s.qualifications">
<span>
  <label>{{q.designation}}</label>
</span>
</div>
  </td>
</tr>

</tbody>
</ng-container>

</table>
